<section class="nm-section">
  <div class="nm-container rte" style="max-width:48rem;">
    {{ page.content }}
  </div>
</section>

{% schema %}
{
  "name": "Page",
  "tag": "section",
  "settings": []
}
{% endschema %}
